@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body{
    padding: 1vw 1vw 1vw 2.5vw;
    font-family: 'Courier New', Courier, monospace;
}
#top-section{
    background-color: rgb(7, 122, 59);
    color: #ffff;
    border-radius: 1vw;
}
.container-parent{
    padding: 2vw;
}
h4{
    font-weight: 600;
   text-align: center;
   line-height: 4vw;
}
p{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
form {
    margin: 2% 0% 0% 25%;
}