@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body{
    padding: 1vw 1vw 1vw 2.5vw;
    font-family: 'Courier New', Courier, monospace;
}
#top-section{
    background-color: rgb(7, 122, 59);
    color: #ffff;
    border-radius: 1vw;
}
.container-parent{
    padding: 2vw;
}
h4{
    font-weight: 600;
   text-align: center;
   line-height: 4vw;
}
p{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
form {
    margin: 2% 0% 0% 25%;
}
#Jobs-posted-section {
    background-color: #e9edc9;
    margin-top: 3%;
    border-radius: 1vw;
}
.top-card-header{
   margin-bottom: 2vw;
}
img {
    border-radius: .5vw;
}
.technologies-used{
    margin-top: 4%;
    margin-bottom: -4%;
}
#element-1{
    background-color: #ced4da;
    height: 2vw;
    padding: .3vw;
    text-align: center;
    border-radius: .5vw;
    color: #7209b7;
}
#element-2{
    background-color: rgb(7, 122, 59, 0.2);
    height: 2vw;
    padding: .3vw;
    text-align: center;
    border-radius: .5vw;
    color: rgb(7, 122, 59);
}