<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/JobBoardApp/src/app/job-application/job-application.component.css">
</head>
<body>
        <!-- top bannner section -->
        <section id="top-section">
            <div class="container-parent">
                <h4>
                    Are you looking for a job ?
                </h4>
                <p>
                    Job Board is a site where you can find your dream job in various
                    software development skills, with more than enough jobs available
                   for every beginner software developer
                </p>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Start your search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
            </div>
        </section>
</body>
</html>
