<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/JobBoardApp/src/app/job-application/job-application.component.css">
</head>
<body>
        <!-- top bannner section -->
        <section id="top-section">
            <div class="container-parent">
                <h4>
                    Are you looking for a job ?
                </h4>
                <p>
                    Job Board is a site where you can find your dream job in various
                    software development skills, with more than enough jobs available
                   for every beginner software developer
                </p>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Start your search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
            </div>
        </section>
        <!-- end of banner section -->
        <!-- ------------ -->
        <!-- ------------ -->
        <!-- jobs posted section -->
        <section id="Jobs-posted-section">
            <div class="container-parent">
               <div class="top-card-header">
                <div class="row">
                    <div class="col-2">
                        <img src="./assets/goodLogo.jpg" width="80" height="60" alt="company logo">
                    </div>
                    <div class="col-9">
                        <h6>
                            Building end-to-end crowdfunding application
                        </h6>
                        <div class="row">
                            <div class="col-4">
                                <div class="location">
                                   <a>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 16C8 16 14 10.3137 14 6C14 2.68629 11.3137 0 8 0C4.68629 0 2 2.68629 2 6C2 10.3137 8 16 8 16ZM8 9C6.34315 9 5 7.65685 5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6C11 7.65685 9.65685 9 8 9Z"
                                            fill="black" />
                                    </svg>location
                                   </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="quotation">
                                    <a>$ 14, 000</a>
                                </div>
                            </div>
                            <div class="col">
                                <a>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5C10 3.22386 9.77614 3 9.5 3L1.5 3C1.22386 3 1 3.22386 1 3.5V12.5C1 12.7761 1.22386 13 1.5 13H9.5C9.77614 13 10 12.7761 10 12.5V10.5C10 10.2239 10.2239 10 10.5 10C10.7761 10 11 10.2239 11 10.5V12.5C11 13.3284 10.3284 14 9.5 14H1.5C0.671574 14 0 13.3284 0 12.5V3.5C0 2.67157 0.671573 2 1.5 2L9.5 2C10.3284 2 11 2.67157 11 3.5V5.5C11 5.77614 10.7761 6 10.5 6C10.2239 6 10 5.77614 10 5.5V3.5Z" fill="black"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.14645 8.35355C3.95118 8.15829 3.95118 7.84171 4.14645 7.64645L7.14645 4.64645C7.34171 4.45118 7.65829 4.45118 7.85355 4.64645C8.04882 4.84171 8.04882 5.15829 7.85355 5.35355L5.70711 7.5L14.5 7.5C14.7761 7.5 15 7.72386 15 8C15 8.27614 14.7761 8.5 14.5 8.5H5.70711L7.85355 10.6464C8.04882 10.8417 8.04882 11.1583 7.85355 11.3536C7.65829 11.5488 7.34171 11.5488 7.14645 11.3536L4.14645 8.35355Z" fill="black"/>
                                        </svg>                                        
                                    40 applicants</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2V15.5C0 15.6765 0.0930228 15.8399 0.244768 15.9299C0.396513 16.02 0.584505 16.0234 0.739426 15.9389L6 13.0695L11.2606 15.9389C11.4155 16.0234 11.6035 16.02 11.7552 15.9299C11.907 15.8399 12 15.6765 12 15.5V2C12 0.895431 11.1046 0 10 0H2C0.89543 0 0 0.895431 0 2Z" fill="black"/>
                            </svg>                            
                    </div>
                </div>
               </div>
                <p>
                    We are looking for a talented and experieced developer
                    to join our team to develop a new crowdfunding app.
                    As a crowdfunding App Developer, you will be responsible
                    for designing, developing, and implementing the app, ensuring
                    it is user-friendly, functional, and secure.... <a href="#">Read more</a>
                </p>
                <div class="technologies-used">
                    <div class="row">
                        <h6>
                            <strong>
                                Requirements
                            </strong>
                        </h6>
                        <div class="col-2">
                            <p id="element-1">
                                Kotlin
                            </p>
                        </div>
                        <div class="col-3">
                            <p id="element-2">
                                IOS Developer
                            </p>
                        </div>
                        <div class="col-3">
                            <p id="element-1">
                                Software Engineer
                            </p>
                        </div>                       
                    </div>
                    <div class="time-posted">
                        <p>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 0.5C4 0.223858 3.77614 0 3.5 0C3.22386 0 3 0.223858 3 0.5V1H2C0.895431 1 0 1.89543 0 3V4H16V3C16 1.89543 15.1046 1 14 1H13V0.5C13 0.223858 12.7761 0 12.5 0C12.2239 0 12 0.223858 12 0.5V1H4V0.5Z" fill="black"/>
                                <path d="M16 14V5H0V14C0 15.1046 0.895431 16 2 16H14C15.1046 16 16 15.1046 16 14ZM10.8536 8.85355L7.85355 11.8536C7.75979 11.9473 7.63261 12 7.5 12C7.36739 12 7.24021 11.9473 7.14645 11.8536L5.64645 10.3536C5.45118 10.1583 5.45118 9.84171 5.64645 9.64645C5.84171 9.45118 6.15829 9.45118 6.35355 9.64645L7.5 10.7929L10.1464 8.14645C10.3417 7.95118 10.6583 7.95118 10.8536 8.14645C11.0488 8.34171 11.0488 8.65829 10.8536 8.85355Z" fill="black"/>
                                </svg>                                    
                            posted 5 minutes ago
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- jobs posted send section -->
</body>
</html>
