<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/job-listings/job-listings.component.css">
</head>
<body>
    <!-- top bannner section -->
    <section id="Jobs-applied">
        <div class="mother-div-2">
            <div class="column-title">
                <h5>
                    <strong>
                        Jobs Applied
                    </strong>
                </h5>
            </div>
            <div class="jobs-listed">
                <div class="row">
                    <div class="col-6">
                        <div class="company-name">
                            <h6>
                                <strong>
                                    Halo Lab
                                </strong>
                            </h6>
                        </div>
                        <div class="posted-dated">
                            <p>
                              | 2 weeks ago
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="role-name">
                                <h6>
                                    <a href="#">
                                        UI Designer
                                    </a>                                
                                </h6>
                            </div>
                            <div class="posted-dated">
                                <p>
                                  | 2 days ago
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="delete-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#077a3b" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                </div>
            </div>
        </div>        
    </section>
    
</body>
</html>
