body{
    font-family: 'Courier New', Courier, monospace;
}
.below-navbar-area{
    display: flex;
}
.job-listings-filter{
    width: 25%;
}
.job-application-center{
    width: 50%;
}
.user-profile-section{
    width: 25%;
}