<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/user-profile/user-profile.component.css">
</head>

<body>
    <!-- first section of the profile section -->
    <section id="profile-portion">
        <div class="container">
            <div class="holding-parent">
                <div class="profile-picture">
                    <img src="./assets/goodLogo.jpg" alt="profile picture">
                </div>
                <div class="profile-holder-name">
                    <h6>
                        <strong>
                            Nicollo Machiavelli
                        </strong>
                    </h6>
                </div>
                <div class="professional-details">
                    <div class="row">
                        <div class="col-7">
                            <div class="skills">
                                <p>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.20917 0.800327C7.68924 0.294512 8 0 8 0C8.10888 0.36292 8.23356 0.708381 8.37118 1.03827C9.18275 2.98375 10.4443 4.38779 11.5675 5.63791C12.8778 7.09631 14 8.34524 14 10C14 13.3137 11.3137 16 8 16C4.68629 16 2 13.3137 2 10C2 6.66801 5.57979 2.51709 7.20917 0.800327ZM7.62337 1.82128C7.10047 2.38814 6.44636 3.13752 5.79425 3.98996C5.06754 4.9399 4.35825 5.9985 3.83423 7.06023C3.3048 8.13292 3 9.13809 3 10C3 10 5.5 11.5 8 10.5C10.5 9.5 13 10 13 10C13 8.79877 12.2043 7.84288 10.8186 6.3007L10.7891 6.26786C9.74885 5.11013 8.49951 3.71973 7.62337 1.82128Z"
                                            fill="black" />
                                        <path
                                            d="M4.55279 7.77639C5.37354 6.13488 6.27026 5.02263 6.64645 4.64645L7.35355 5.35355C7.06307 5.64403 6.22646 6.66512 5.44721 8.22361L4.55279 7.77639Z"
                                            fill="black" />
                                    </svg>
                                    UI Designer
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="years-of-experience">
                                <p>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 16C11.3137 16 14 13.3137 14 10C14 8.34524 12.8778 7.09631 11.5675 5.63791C10.2538 4.1758 8.75095 2.50317 8 0C8 0 2 5.68629 2 10C2 13.3137 4.68629 16 8 16ZM6.64646 4.64642L7.35356 5.35353C7.06308 5.64401 6.22646 6.6651 5.44722 8.22358L4.5528 7.77637C5.37355 6.13485 6.27027 5.02261 6.64646 4.64642Z"
                                            fill="black" />
                                    </svg>
                                    2 years
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-button">
                    <a href="#">
                        <p>
                            Edit Profile
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end of the first section in the profile section -->
    <!-- ----------------- -->
    <!-- ------------------- -->
    <!-- second section of profile - work experience -->
    <section id="second-section">
        <div class="mother-div">
            <div class="heading">
                <h6>
                    <strong>
                        Work Experience
                    </strong>
                </h6>
            </div>
            <div class="company-section">
                <div class="row">
                    <div class="col-3">
                        <img src="./assets/goodLogo.jpg" width="60" height="60" alt="">
                    </div>
                    <div class="col">
                        <div class="company-name">
                            <h6>
                                <strong>
                                    Gojek Indonesia
                                </strong>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="title-div">
                                    <p>
                                        UI Designer
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="years-of-work">
                                    <p>
                                        2021 - 2022
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-section-2">
                <div class="row">
                    <div class="col-3">
                        <img src="./assets/goodLogo.jpg" width="60" height="60" alt="">
                    </div>
                    <div class="col">
                        <div class="company-name">
                            <h6>
                                <strong>
                                    Halo Lab
                                </strong>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="title-div">
                                    <p>
                                        UI Designer
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="years-of-work">
                                    <p>
                                        2021 - 2023
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of second section -->
    <!-- -------- -->
    <!-- -------- -->
    <!-- third section of profile - skills set -->
    <section id="third-section">
        <div class="mother-div">
            <div class="section-title">
                <h6>
                    <strong>
                        Skills and Expertise
                    </strong>
                </h6>
            </div>
            <div class="skills-set">
                <p>
                    User Interface
                </p>
                <p>
                    Motion Design
                </p>
                <p>
                    Research
                </p>
                <p>
                    Wireframe
                </p>
                <p>
                    3D Designer
                </p>
            </div>
        </div>
    </section>
    <!-- end of third section -->

</body>

</html>